.animals-title {
    margin-top: 30px;
    text-align: center;
}

.animal-catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.no-animals{
    display: block;
    margin: 0 auto;
}
