.register-form {
    margin: 100px auto;
    padding: 50px 0;
    background-color: #9ED0A4;
    border-radius: 15px;
    width: 600px;
} 

.form {
    margin: 0 auto;
    width: 400px;
}

.register-title {
    text-align: center;
}

.register-button {
    margin: 15px 0;
    padding-top: 15px;
    text-align: center;
}

.register-button input {
    background-color: white;
    padding: 12px 18px;
    color: black;
    font-weight: 700;
}

.register-button input:hover {
    background-color: white;
    color: #9ED0A4;
}

.login-section {
    text-align: center;
}

.login { 
    text-decoration: none;
    color: white;
}

.login:hover {
    text-decoration: none;
    color: black;
}

