.home-page{
  height: 80vh;
}

.home-header {
    background-color: #9ED0A4;
    color: black;
    padding: 20px;
    text-align: center;
  }
  
  .home-header h1 {
    font-size: 3rem;
    margin-bottom: 19px;
  }
  
  .home-header h2 {
    font-size: 2rem;
  }
  .container {
    margin: 0 auto;
  }
  
  .home-header p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #363636;
  }

  .carousel-section {
    height: 78vh;
}

img {
    height: 78vh;
    object-fit: cover;
    overflow: hidden;
}

.first-image img {
    object-position: middle;
}

.second-image img {
    object-position: top;
  }

.third-image img {
    object-position: bottom;
}

