.mySightings-catalogue-page {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.mySightings-title {
    margin-top: 30px;
}

.mySightings-catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.no-animals-added {
    text-align: center;
}